<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% set page_title %}
        {% block page_title %}Spotiflask{% endblock page_title %}
    {% endset %}
    {% set page_styles %}
        {% block page_styles %}{% endblock page_styles %}
    {% endset %}
    {{ page_styles }}
    <title>
        {{ page_title }}
    </title>
</head>
<body>
    <div class="container-fluid p-4 vh-100">
        {% block main scoped %}
        {% endblock main %}
    </div>
    {% block page_scripts %}
    {% endblock page_scripts %}
</body>
</html>