<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% set page_title %}
        {% block page_title %}Spotiflask{% endblock page_title %}
    {% endset %}
    {% set page_styles %}
        {% block page_styles %}{% endblock page_styles %}
    {% endset %}
    {{ page_styles }}
    <title>
        {{ page_title }}
    </title>
</head>
<body>
    <div class="container-fluid p-4">
        <div class="row mb-4 justify-content-center">
            <div class="col-6 d-flex justify-content-center">
                {% if session['user'] %}
                <div class="d-flex align-items-center gap-3">
                    <img src="{{ session['user']['images'][0]['url'] }}" alt="{{ session['user']['display_name'] }}" class="rounded-circle" width="32" height="32">
                    <h5 class="text-center">
                        Olá, {{ session['user']['display_name'] }}.
                    </h1>
                </div>
                {% else %}
                    <a href="{{ session['login_url'] }}" class=" btn btn-lg btn-success" role="button">
                        Fazer login no Spotify
                    </a>
                {% endif %}
            </div>
        </div>
        {% block main scoped %}
        {% endblock main %}
    </div>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>