{% extends 'base.html' %}

{% block page_title %}
Home
{% endblock page_title %}

{% block main %}
<div class="container-fluid h-100 d-flex flex-column gap-4 align-items-center justify-content-center">
    <div class="col-4 d-flex gap-4 flex-column">
        {% if session['user'] %}
        <div class="d-flex align-items-center justify-content-center gap-3">
            <img src="{{ session['user']['images'][0]['url'] }}" alt="{{ session['user']['display_name'] }}" class="rounded-circle" width="32" height="32">
            <h5 class="text-center">
                Olá, {{ session['user']['display_name'] }}.
            </h1>
        </div>
        <a href="/report" class="btn btn-lg btn-success" role="button">
            Continuar
        </a>
        {% else %}
            <h5 class="text-center">
                Bem-vindo!
            </h1>
            <a href="{{ session['login_url'] }}" class="btn btn-lg btn-success" role="button">
                Fazer login no Spotify
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}