{% extends 'base.html' %}

{% block page_title %}
Home
{% endblock page_title %}

{% block main %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-3 h-100">
            <div class="container-fluid d-flex flex-column gap-3 h-100 g-0">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center gap-3">
                            {% if session['user']['images'] %}
                                <img src="{{ session['user']['images'][0]['url'] }}" alt="{{ session['user']['display_name'] }}" class="rounded-circle" width="32" height="32">
                            {% else %}
                                <img src="{{ url_for('static', filename='img/profile.png') }}" alt="Spotify" class="rounded-circle" width="32" height="32">
                            {% endif %}
                            <div class="d-flex flex-column">
                                <h6 class="text-center">
                                    Olá, {{ session['user']['display_name'] }}.
                                </h1>
                                <a href="/auth/logout" class="btn btn-sm btn-outline-light w-100" style="font-size: x-small;" role="button">
                                    Sair
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form class="col-12 d-flex justify-content-between gap-2" id="report-type-form">
                        <input type="radio" class="btn-check" name="report-type" id="recently-played" autocomplete="off" checked>
                        <label class="btn btn-sm btn-outline-success fw-semibold" style="font-size: 0.8rem;" for="recently-played">Ouvidas recentemente</label>
                        <input type="radio" class="btn-check" name="report-type" id="ai-recommendation" autocomplete="off">
                        <label class="btn btn-sm btn-outline-success fw-semibold" style="font-size: 0.8rem;" for="ai-recommendation">Recomendação da IA</label>
                    </form>
                </div>
                <div class="row h-100 overflow-y-auto">
                    <div class="col-12 flex-column gap-2" style="display: flex;" id="recently-played-container">
                        <div class="spinner-border align-self-center mt-4" style="display: none;" role="status" id="recently-played-spinner">
                            <span class="visually-hidden">Carregando...</span>
                        </div>
                    </div>
                    <div class="col-12 flex-column gap-2" style="display: none;" id="ai-recommendation-container">
                        <div class="spinner-border align-self-center mt-4" style="display: none;" role="status" id="ai-recommendation-spinner">
                            <span class="visually-hidden">Carregando...</span>
                        </div>
                    </div>

                    <audio id="audio-player" controls style="display: none;">
                        <source src="" type="audio/mpeg">
                        Seu navegador não suporta o elemento <code>audio</code>.
                    </audio>

                    <!-- Track component -->
                    <div class="card position-relative" id="track-component" style="display: none;">
                        <span class="badge position-absolute m-1 top-0 start-0 z-1 rounded-pill bg-success" style="font-size: 0.75rem;" id="prediction-precision"></span>
                        <div class="row g-0">
                            <div class="col-3">
                                <img src="" alt="" class="ratio ratio-1x1" id="track-image">
                            </div>
                            <div class="col-9">
                                <div class="card-body">
                                    <p class="card-title mb-0 fw-bolder w-100 overflow-hidden" style="white-space: nowrap;" id="track-name"></p>
                                    <p class="card-text mb-0 w-100 overflow-hidden" style="white-space: nowrap; font-size: 0.75rem;" id="track-artist"></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="display: none;" id="track-footer">
                            <div class="d-flex align-items-center gap-2">
                                <button class="bg-transparent p-0" style="border: none;" id="audio-play">
                                    &#x25B6;
                                </button>
                                <div class="progress w-100" style="height: 0.5rem;" role="progressbar">
                                    <div class="progress-bar" style="width: 0%" id="audio-progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 h-100">
            <div class="container-fluid d-flex flex-column gap-3 h-100">
                <div class="row bg-success text-white rounded-3 p-3">
                    <div class="col-12 g-0">
                        <h5>
                            Perfil músical
                        </h1>
                        <span>
                            Musical profile
                        </span>
                    </div>
                </div>
                <div class="row bg-body-secondary rounded-3 p-3 h-100 overflow-y-auto">
                    <div class="col-12 g-0">
                        <div class="container-fluid d-flex flex-column gap-4 g-0 ">
                            <div class="row">
                                <div class="col-8">
                                    <div class="container-fluid g-0">
                                        <div class="row gap-2">
                                            <div class="col-12">
                                                <h6>
                                                    Características mais presentes
                                                </h6>
                                            </div>
                                            <div class="col-12" style="height: 300px;">
                                                <canvas id="characteristics-chart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="container-fluid g-0">
                                        <div class="row gap-2">
                                            <div class="col-12">
                                                <h6>
                                                    Gêneros ouvidos
                                                </h6>
                                            </div>
                                            <div class="col-12 position-relative" style="height: 250px;">
                                                <canvas id="genres-chart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="container-fluid g-0">
                                        <div class="row gap-2">
                                            <div class="col-12">
                                                <h6>
                                                    Musicalidade ao longo do tempo
                                                </h6>
                                            </div>
                                            <div class="col-12" style="height: 300px;">
                                                <canvas id="musicality-chart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="container-fluid g-0">
                                        <div class="row gap-2">
                                            <div class="col-12">
                                                <h6>
                                                    Artistas mais ouvidos
                                                </h6>
                                            </div>
                                            <div class="col-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item bg-success d-flex align-items-center justify-content-between">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj2vxn91Dq0tC3A9u3Spy1ODQ99fgIDveCjw&s" alt="Arctic Monkeys" class="rounded-circle" width="24" height="24">
                                                        <span class="text-center fw-bolder w-100">
                                                            Arctic Monkeys
                                                        </span>
                                                        <span class="fw-bolder">
                                                            100x
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item d-flex align-items-center justify-content-between">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj2vxn91Dq0tC3A9u3Spy1ODQ99fgIDveCjw&s" alt="Arctic Monkeys" class="rounded-circle" width="24" height="24">
                                                        <span class="text-center w-100">
                                                            Muse
                                                        </span>
                                                        <span>5x</span>
                                                    </li>
                                                    <li class="list-group-item d-flex align-items-center justify-content-between">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj2vxn91Dq0tC3A9u3Spy1ODQ99fgIDveCjw&s" alt="Arctic Monkeys" class="rounded-circle" width="24" height="24">
                                                        <span class="text-center w-100">
                                                            Muse
                                                        </span>
                                                        <span>5x</span>
                                                    </li>
                                                    <li class="list-group-item d-flex align-items-center justify-content-between">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj2vxn91Dq0tC3A9u3Spy1ODQ99fgIDveCjw&s" alt="Arctic Monkeys" class="rounded-circle" width="24" height="24">
                                                        <span class="text-center w-100">
                                                            Muse
                                                        </span>
                                                        <span>5x</span>
                                                    </li>
                                                    <li class="list-group-item d-flex align-items-center justify-content-between">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj2vxn91Dq0tC3A9u3Spy1ODQ99fgIDveCjw&s" alt="Arctic Monkeys" class="rounded-circle" width="24" height="24">
                                                        <span class="text-center w-100">
                                                            Muse
                                                        </span>
                                                        <span>5x</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='js/report.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartjs-plugin-datalabels.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock page_scripts %}